@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.AboutBoxWrapper {
  background-color: #ffffff;
  width: 100%;
  padding: 7vh 15vw 0vw 15vw;
}

.DarkAboutBoxWrapper {
  background-color: #191919;
  width: 100%;
  padding: 7vh 15vw 0vw 15vw;
}

.AboutInnerBoxWrapper,
.AboutInnerBoxWrapperSecond,
.DarkAboutInnerBoxWrapper,
.DarkAboutInnerBoxWrapperSecond {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.AboutMeHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkAboutMeHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #d9d9d9;
}

.AboutMeText {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkAboutMeText {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #d9d9d9;
}

.ExperienceMainBox,
.EducationMainBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}

.DarkExperienceMainBox,
.DarkEducationMainBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 1rem;
  background-color: #191919;
  border-radius: 8px;
}

.ExperienceMainBoxFirst,
.ExperienceMainBoxSecond,
.DarkExperienceMainBoxFirst,
.DarkExperienceMainBoxSecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ExperienceMainBoxSecondLine,
.DarkExperienceMainBoxSecondLine {
  display: flex;
}

.ExperienceTitle {
  padding-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkExperienceTitle {
  padding-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #d9d9d9;
}

.CompanyDetailsBox,
.CompanyLocationBox,
.DarkCompanyDetailsBox,
.DarkCompanyLocationBox {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.CompanyName,
.CompanyLocation,
.ContractTime {
  padding-left: 7px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkCompanyName,
.DarkCompanyLocation,
.DarkContractTime {
  padding-left: 7px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  color: #d9d9d9;
}

.Contract {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DarkContract {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ContractTypeBox,
.ContractLength,
.DarkContractTypeBox,
.DarkContractLength {
  display: flex;
  align-items: center;
}

.ContractType {
  background-color: #d7ffe0;
  color: #018c0f;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  padding: 0.2rem 0.5rem;
  border-radius: 16px;
}

.DarkContractType {
  background-color: #d7ffe0;
  color: #01778c;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  padding: 0.2rem 0.5rem;
  border-radius: 16px;
}

.ExperienceBoxDivider {
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  opacity: 0.1;
  height: 2px;
  margin: 0 2.5rem;
}

.DarkExperienceBoxDivider {
  background: linear-gradient(
    90deg,
    rgb(165, 165, 165) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  opacity: 0.1;
  height: 2px;
  margin: 0 2.5rem;
}

@media (max-width: 1200px) {
  .AboutBoxWrapper,
  .DarkAboutBoxWrapper {
    padding: 5vh 10vw 0vw 10vw;
  }
}

@media (max-width: 992px) {
  .AboutBoxWrapper,
  .DarkAboutBoxWrapper {
    padding: 5vh 8vw 0vw 8vw;
  }

  .ExperienceMainBox,
  .EducationMainBox,
  .DarkExperienceMainBox,
  .DarkEducationMainBox {
    flex-direction: column;
  }

  .ExperienceMainBoxFirst,
  .ExperienceMainBoxSecond,
  .DarkExperienceMainBoxFirst,
  .DarkExperienceMainBoxSecond {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .AboutBoxWrapper,
  .DarkAboutBoxWrapper {
    padding: 3vh 5vw 0vw 5vw;
  }

  .AboutMeHeader,
  .DarkAboutMeHeader {
    font-size: 2rem;
  }

  .AboutMeText,
  .DarkAboutMeText {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .ExperienceTitle,
  .DarkExperienceTitle {
    font-size: 1.3rem;
  }

  .CompanyName,
  .CompanyLocation,
  .ContractTime,
  .DarkCompanyName,
  .DarkCompanyLocation,
  .DarkContractTime {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .AboutBoxWrapper,
  .DarkAboutBoxWrapper {
    padding: 2vh 3vw 0vw 3vw;
  }

  .ExperienceMainBoxSecondLine,
  .DarkExperienceMainBoxSecondLine {
    display: block;
  }

  .CompanyDetailsBox,
  .CompanyLocationBox,
  .DarkCompanyDetailsBox,
  .DarkCompanyLocationBox {
    margin-right: 0px;
  }

  .AboutMeHeader .DarkAboutMeHeader {
    font-size: 1.8rem;
  }

  .AboutMeText,
  .DarkAboutMeText {
    font-size: 0.8rem;
  }

  .ExperienceTitle,
  .DarkExperienceTitle {
    font-size: 1.2rem;
  }

  .CompanyName,
  .CompanyLocation,
  .ContractTime,
  .DarkCompanyName,
  .DarkCompanyLocation,
  .DarkContractTime {
    font-size: 0.7rem;
  }

  .ContractType,
  .DarkContractType {
    font-size: 0.65rem;
  }
}
