@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.ContactBoxWrapper {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  padding: 7vh 15vw 0 15vw;
  flex-wrap: wrap;
}

.DarkContactBoxWrapper {
  background-color: #191919;
  display: flex;
  width: 100%;
  padding: 7vh 15vw 0 15vw;
  flex-wrap: wrap;
}

.ContactDetailsMainHeading {
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  color: #0d434f;
  margin-bottom: 20px;
}

.DarkContactDetailsMainHeading {
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  color: #d9d9d9;
  margin-bottom: 20px;
}

.ContactDetailsText {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: normal;
  color: #0d434f;
}

.DarkContactDetailsText {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: normal;
  color: #d9d9d9;
}

.ContactDetailsEmailBox,
.DarkContactDetailsEmailBox {
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.EmailIcon {
  font-size: 2.5rem;
  margin-right: 15px;
  color: #0d434f;
}

.DarkEmailIcon {
  font-size: 2.5rem;
  margin-right: 15px;
  color: #d9d9d9;
}

.EmailHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #0d434f;
  padding-bottom: 7px;
}

.DarkEmailHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #d9d9d9;
  padding-bottom: 7px;
}

.EmailMain {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  color: #0d434f;
}

.DarkEmailMain {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  color: #d9d9d9;
}

.PhoneIcon {
  font-size: 2.5rem;
  margin-right: 15px;
  color: #0d434f;
}

.DarkPhoneIcon {
  font-size: 2.5rem;
  margin-right: 15px;
  color: #d9d9d9;
}

.PhoneHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #0d434f;
  padding-bottom: 7px;
}

.DarkPhoneHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #d9d9d9;
  padding-bottom: 7px;
}

.PhoneMain {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  color: #0d434f;
}

.DarkPhoneMain {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  color: #d9d9d9;
}

.ContactDetailsPhoneBox,
.DarkContactDetailsPhoneBox {
  display: flex;
  justify-content: start;
  align-items: center;
}

.ContactDetailsSide,
.DarkContactDetailsSide {
  width: 100%;
  padding-right: 20px;
  margin-bottom: 2rem;
}

.ContactFormSide,
.DarkContactFormSide {
  width: 100%;
}

.ContactFormHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0d434f;
}

.DarkContactFormHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #d9d9d9;
}

.ContactForm,
.DarkContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TextField > .MuiInputBase-root > fieldset {
  border-color: #0d434f;
  margin-bottom: 1;
}

.TextField > .MuiInputBase-root > fieldset:hover {
  border-color: #0e4957;
}

.TextField > .MuiInputBase-root > fieldset:focus {
  border-color: #1a4d58;
}

.ContactForm .MuiFormControl-root > .MuiInputLabel-root {
  color: #1a4d58;
}

.DarkTextField > .MuiInputBase-root > fieldset {
  border-color: #00a1c5;
  margin-bottom: 1;
}

.DarkTextField > .MuiInputBase-root > fieldset:hover {
  border-color: #1ea1be;
}

.DarkTextField > .MuiInputBase-root > fieldset:focus {
  border-color: #00a1c5;
}

.DarkContactForm .MuiFormControl-root > .MuiInputLabel-root {
  color: #00a1c5;
}

.SubmitButton {
  color: black;
  border-color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(
    90deg,
    rgb(84, 131, 142) 19% rgb(3, 89, 109, 1) 100%
  );
  transition: all 2s ease-out;
}

.SubmitButton:hover {
  color: #d9d9d9;
  border-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(3, 89, 109, 1) 19%,
    rgb(84, 131, 142) 100%
  );
  transition: all 2s ease-out;
}

.DarkSubmitButton {
  background: linear-gradient(
    90deg,
    rgb(26, 182, 249) 19%,
    rgb(108, 206, 248) 100%
  );
  transition: all 2s ease-out;
}

.DarkSubmitButton:hover {
  background: linear-gradient(
    90deg,
    rgb(108, 206, 248) 19% rgb(26, 182, 249) 100%
  );
  transition: all 2s ease-in;
}

.ContactUsSnackBar > div {
  color: #147a14;
  background-color: #fffafa;
  border-radius: 10px;
  border: 1px solid #147a14;
  box-shadow: 0px 5px 5px -3px #bdbdbd1c, 0px 8px 10px 1px #5553531e,
    0px 3px 14px 2px #e6e6e631;
}

.ContactUsSnackBar
  > .MuiPaper-root
  > .MuiSnackbarContent-action
  > .MuiButtonBase-root
  > .MuiSvgIcon-root {
  color: #147a14;
}

.ContactUsSnackBarError > div {
  color: #f93600;
  background-color: #fffafa;
  border-radius: 10px;
  border: 1px solid #f93600;
  box-shadow: 0px 5px 5px -3px #bdbdbd1c, 0px 8px 10px 1px #5553531e,
    0px 3px 14px 2px #e6e6e631;
}

.ContactUsSnackBarError
  > .MuiPaper-root
  > .MuiSnackbarContent-action
  > .MuiButtonBase-root
  > .MuiSvgIcon-root {
  color: #f93600;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .ContactBoxWrapper,
  .DarkContactBoxWrapper {
    flex-direction: row;
    padding: 5vh 10vw;
  }

  .ContactDetailsSide,
  .DarkContactDetailsSide {
    width: 50%;
  }

  .ContactFormSide,
  .DarkContactFormSide {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .ContactDetailsText,
  .DarkContactDetailsText {
    width: 90%;
  }
}

@media (max-width: 551px) {
  .EmailMain,
  .DarkEmailMain {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .EmailIcon,
  .PhoneIcon,
  .DarkEmailIcon,
  .DarkPhoneIcon {
    font-size: 2rem;
  }
  .EmailHeader,
  .PhoneHeader,
  .DarkEmailHeader,
  .DarkPhoneHeader {
    font-size: 1.1rem;
  }
  .EmailMain,
  .PhoneMain,
  .DarkEmailMain,
  .DarkPhoneMain {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .EmailIcon,
  .PhoneIcon,
  .DarkEmailIcon,
  .DarkPhoneIcon {
    font-size: 1.8rem;
  }
  .EmailHeader,
  .PhoneHeader {
    font-size: 1rem;
  }
  .EmailMain,
  .PhoneMain,
  .DarkEmailMain,
  .DarkPhoneMain {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .EmailIcon,
  .PhoneIcon,
  .DarkEmailIcon,
  .DarkPhoneIcon {
    font-size: 1.6rem;
  }
  .EmailHeader,
  .PhoneHeader,
  .DarkEmailHeader,
  .DarkPhoneHeader {
    font-size: 0.9rem;
  }
  .EmailMain,
  .PhoneMain,
  .DarkEmailMain,
  .DarkPhoneMain {
    font-size: 0.9rem;
  }
  .ContactDetailsEmailBox,
  .DarkContactDetailsEmailBox {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .EmailIcon,
  .PhoneIcon,
  .DarkEmailIcon,
  .DarkPhoneIcon {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  .EmailHeader,
  .PhoneHeader,
  .DarkEmailHeader,
  .DarkPhoneHeader {
    font-size: 0.8rem;
  }
  .EmailMain,
  .PhoneMain,
  .DarkEmailMain,
  .DarkPhoneMain {
    font-size: 0.8rem;
  }
}
