@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

#Navbar {
  padding: 25px 35px;
  background-color: transparent;
  box-shadow: none;
}

.NavLink {
  text-decoration: none;
  color: #666666;
  font-family: "Rosario", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.MuiPaper-root {
    background-color: #3B3B3B;
  border-radius: 0px 0px 40px 40px;
  opacity: 1;
  width: 100%;
  transform: none;
  transition: opacity 265ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 176ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 0px;
  left: 0px;
  transform-origin: 96px 0px;
  box-shadow: 0px 5px 5px -3px #6666661c,
    0px 8px 10px 1px #5553531e, 0px 3px 14px 2px #58585831;
}

.MenuNavLink {
    text-decoration: none;
    color: #a1a1a1;
    font-family: "Rosario", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.SocialHandles {
    display: flex;
    justify-content: center;
}

