@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.ProjectBoxWrapper {
  background-color: #ffffff;
  width: 100%;
  padding: 7vh 15vw 0 15vw;
}

.DarkProjectBoxWrapper {
  background-color: #191919;
  width: 100%;
  padding: 7vh 15vw 0 15vw;
}

.ProjectInnerBoxWrapperSecond,
.DarkProjectInnerBoxWrapperSecond {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.ProjectHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: start;
}

.DarkProjectHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #d9d9d9;
  text-align: start;
}

.ProjectText {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: start;
}

.DarkProjectText {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #d9d9d9;
  text-align: start;
}

.ProjectMainBox,
.DarkProjectMainBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.ProjectImageBox,
.DarkProjectImageBox {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.ProjectDescriptionMainBox,
.DarkProjectDescriptionMainBox {
  padding-top: 10px;
  width: 100%;
  flex: 1;
}

.ProjectImage,
.DarkProjectImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ProjectTitleBox,
.DarkProjectTitleBox {
  margin-bottom: 10px;
}

.ProjectTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkProjectTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #d9d9d9;
}

.ProjectDescriptionBox,
.DarkProjectDescriptionBox {
  margin-bottom: 7px;
}

.ProjectDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 0.9rem;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkProjectDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 0.9rem;
  color: #d9d9d9;
}

.ProjectTagBox,
.DarkProjectTagBox {
  margin-bottom: 10px;
}

.ProjectTag {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  text-align: start;
  font-size: 0.8rem;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkProjectTag {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  text-align: start;
  font-size: 0.8rem;
  color: #d9d9d9;
}

.TagHead {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  text-align: start;
  font-size: 0.85rem;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkTagHead {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  text-align: start;
  font-size: 0.85rem;
  color: #d9d9d9;
}

.ProjectLinkBox,
.DarkProjectLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.ProjectLinkText {
  position: relative;
  cursor: pointer;
  color: #0d434f;
}

.DarkProjectLinkText {
  position: relative;
  cursor: pointer;
  color: #d9d9d9;
}

.ProjectLinkText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0d434f;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.DarkProjectLinkText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.ProjectLinkText:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.DarkProjectLinkText:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.GitHubImageBox,
.DarkGitHubImageBox {
  padding-right: 10px;
}

.ProjectItem {
  padding-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 2px 5px 8px rgba(193, 193, 193, 0.4);
  border-radius: 10px;
  overflow-x: hidden;
  transition: 0.5s ease-out;
}

.ProjectItem:hover {
  box-shadow: 2px 5px 8px rgb(185, 185, 185);
  transform: scale(1.05);
  transition: 0.5s ease-in;
}

.DarkProjectItem {
  padding-bottom: 15px;
  background-color: #363636;
  border-radius: 10px;
  overflow-x: hidden;
  transition: 0.5s ease-out;
}

.DarkProjectItem:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in;
}

.ProjectLink {
  text-decoration: none;
  color: #0d434f;
}

.DarkProjectLink {
  text-decoration: none;
  color: #d9d9d9;
}

.MuiTooltip-tooltip {
  padding: 10px;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .ProjectBoxWrapper .DarkProjectBoxWrapper {
    padding: 7vh 5vw 0 5vw;
  }

  .ProjectItem .DarkProjectItem {
    margin: 0 0 20px;
  }
}

@media (max-width: 960px) {
  .ProjectItem .DarkProjectItem {
    width: 100%;
  }
}
