@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.SkillsBoxWrapper {
  background-color: #ffffff;
  width: 100%;
  padding: 7vh 15vw 0vw 15vw;
}

.DarkSkillsBoxWrapper {
  background-color: #191919;
  width: 100%;
  padding: 7vh 15vw 0vw 15vw;
}

.SkillsInnerBoxWrapperSecond,
.DarkSkillsInnerBoxWrapperSecond {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.SkillsHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(13, 67, 79, 1) 19%,
    rgba(30, 50, 54, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.DarkSkillsHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #d9d9d9;
}

.SkillsMainBox {
  display: flex;
  margin-top: 20px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
}

.DarkSkillsMainBox {
  display: flex;
  margin-top: 20px;
  padding: 1rem;
  background-color: #191919;
  border-radius: 8px;
}

.MuiGrid-item {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.SkillImageWrapper,
.DarkSkillImageWrapper {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.SkillImageWrapper::after,
.DarkSkillImageWrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #0d434f;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.DarkSkillImageWrapper::after {
  background-color: #d9d9d9;
}

.SkillImageWrapper:hover::after,
.DarkSkillImageWrapper:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.SkillImageWrapper:hover,
.DarkSkillImageWrapper:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-out;
}
